.full {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.fullNotFound {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.highlight {
    height: 170px;
    background-color: grey;
    width: 100%;
}
.highlight:hover {
    background-color: rgba(160, 160, 160, 0.5);
    transition-duration: 2000ms;
}